* {
  box-sizing: border-box;
  font-family: "Century Gothic", "URW Gothic L", "TeX Gyre Adventor", "FreeSans", sans-serif;
}

body {
  margin: 0;
}

/* NAVBAR */
.navBar {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 4rem;
}

/* Site title */
.siteTitle {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  margin-left: 3rem;
  font-weight: bold;
}

/* Navigation list */
.navList {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navItem {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.navItemActive {
  color: #ff4b2b;
}

.navItemActive navLink {
  color: white;
  font-weight: bold;
}

.navItem:hover {
  background-color: #ff4b2b;
  color:white;
}

.navLink {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  transition: all 0.3s ease;
}

/* Search bar */
.searchContainer {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.searchBar {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 50px;
  border: 1px solid #ccc;
  background-color: lightgray;
  outline: none;
  width: 600px;
}

.searchBtn {
  border: none;
  background: none;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  outline: none;
  color: inherit;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.searchBtn:hover {
  background-color: #ff4b2b;
  color: white;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  navBar {
    padding: 0.5rem 2rem;
  }

  .searchBar {
    width: 300px;
  }

  .siteTitle {
    font-size: 1.2rem;
    margin-left: 2rem;
  }
}

@media (max-width: 768px) {
  .navBar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navList {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }

  navLink {
    justify-content: flex-start;
    padding: 0.5rem 1rem;
  }

  .searchContainer {
    width: 100%;
    margin: 0.5rem 0;
  }

  .searchBar {
    width: 100%;
  }

  .searchBtn {
    border-radius: 10px;
  }

  .siteTitle {
    margin-left: 0rem;
  }
}

@media (max-width: 480px) {
  .siteTitle {
    font-size: 3rem;
    margin-left: 0rem;
  }

  .navBar {
    padding: 0.5rem;
  }

  .navList {
    gap: 0.3rem;
  }

  .searchBar {
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
  }
}
